{% extends 'Tematica/base.html' %}

{% block body %}
<div class="contenedor">
    <h1>Lista de productos</h1>

    <p style="text-align: center; margin-bottom: 20px;">
        <a href="/productos/crear/">Crear producto</a>
    </p>

    <ul class="lista-productos">
        {% for producto in productos %}
            <li>
                {{ producto.nombre }} - {{ producto.precio }} - Stock: {{ producto.stock }}
                <a href="/productos/editar/{{ producto.id }}/">Editar</a>
                <a href="/productos/eliminar/{{ producto.id }}/">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay productos cargados.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}